section.sec.sec_footer_nav
  .container
    .row.justify-content-between
      .col-md-3
        h4 Компания
        ul
          li
            a(href='#tarifs') Цены
          li
            a(href='#') О нас
          li
            a(href='#') База знаний
          li
            a.d-none(href='#') Пробная версия
      .col-md-3
        h4 Продукты
        ul
          li
            a(href='#platforma_dlya_obuchenia') Платформа для онлайн-обучения
          li
            a(href='#marketing_instrument') Инструменты маркетинга
          li
            a(href='#prodvizhenie_lichnogo_brenda') Продвижение личного бренда
          li
            a(href='#globalnyi_poisk') Глобальный поиск экспертов
          li
            a(href='#delovaya_socialnaya_set') Деловая социальная сеть
      .col-md-3
        h4 Контактная информация
        table.table.table-borderless
          tr
            td Телефон
            td
              a(href='tel:380968827050') +380 96 882 70 50
          tr
            td Мейл
            td
              a(href='mailto:office@smartexpert.net') office@smartexpert.net
      .col-md-3.d-none
        .form-group
          select#lang.form-control
            option(selected='') Russian
            option Ukraine
            option Engish
