.sec_with_sliders {
    padding: 143px 0 100px;
    @media (min-width: 1200px) {
        .container {
            max-width: 1195px;
        }
    }

    .screen_list {
        h3 {
            font-weight: 500;
            font-size: 24px;
            margin-bottom: 23px;
        }

        p {
            font-weight: 500;
            font-size: 16px;
            line-height: 170%;
            color: #828282;
            margin-bottom: 0;
        }

        .row {
            margin-bottom: 120px;

            &:nth-of-type(even) {
                flex-direction: row-reverse;
                text-align: right;
            }
        }
    }

    .text {
        margin-left: 9px;
    }

    .flex-md-row-reverse {
        text-align: right;

        .text {
            margin-left: 0;
            margin-right: 9px;
        }
    }
}
@media (max-width: 767.98px) {
    .sec_8 {
        padding: 30px 0 0;
        overflow: hidden;

        .flex-md-row-reverse {
            text-align: left;
        }


        .text {
            margin-left: 0;
        }

        .screen_list {
            .row {
                margin-bottom: 40px;
            }

            h3 {
                font-size: 20px;
                margin-bottom: 15px;
                margin-top: 20px;
            }

            p {
                font-size: 14px;
                margin-bottom: 20px;
            }
        }
    }
}
