extends _component/layout/main_layout.pug

block content
  section.sec.sec_banner(style="background-image: url('asset/image/sec-platforma-dlya-online-obuchenia/bg__platforma_dlya_online_obuchenia.svg')")
    .container
      .row
        .col-md-7
          h1 Платформа для онлайн обучения
          p Вас ждет удобный конструктор курсов, который позволит настроить обучение максимально эффективно. Добавляйте обучающие материалы, создавайте онлайн мероприятия, проводите вебинары и мастермаинды. 
          a.btn.btn-primary( href='#' ) Начать использовать
        .col-md-5.position-relative
          img( src="asset/image/sec-platforma-dlya-online-obuchenia/banner__platforma_dlya_online_obuchenia.svg" )  

  sections.sec.sec_with_sliders
    .container
      .screen_list
          +block_slider(
            'Создайте свой курс на удобном конструкторе', 
            'Подготовьте для учеников теоритические материалы, проводите онлайн и офлайн мероприятия по расписанию, добавляйте практические домашние задания, проводите сертификацию. Все это - вам доступно с помощью конструктора курсов Smart Expert.',
            'create_your_course-1.jpg',
            'create_your_course-1.jpg'
          )  
          +block_slider(
            'Продвигайте курсы в магазине знаний', 
            'Размещайте все свои курсы в магазине знаний и получайте поток потенциальных клиентов. Наши маркетологи будут активно продвигать ваши курсы в рамках магазина знаний, чтобы помочь вам быстро увеличивать количество учеников. Не упустите возможность быстрого роста!',
            'promote_your_courses-1.jpg',
            'promote_your_courses-1.jpg'
          )  
          +block_slider(
            'Выберите наставника', 
            'Необходима помощь в работе с учениками? Привлекайте наставников, которые отлично разбираются в вашей теме! Они с радостью подскажут ученикам правильные методики развития, наведут на правильную дорогу, поддержат и смотивируют к практическим действиям!',
            'choose_mentor-1.jpg',
            'choose_mentor-1.jpg'
          )  
          +block_slider(
            'Автоматизируйте процесс обучения', 
            'Возможности конструктора курсов Smart Expert позволят вам максимально автоматизировать процесс обучения без ущерба качеству. Уведомляйте учеников о новом уроке, делитесь с ними важной информацией, расскажите как пользоваться материалами обучения. Один раз настройте - все остальное сделает Smart Expert!',
            'automate_process-1.jpg',
            'automate_process-1.jpg'
          )   
          

          
