extends _component/layout/main_layout.pug

block content
  section.sec.sec_banner(style="background-image: url('asset/image/sec-platforma-dlya-online-obuchenia/bg__platforma_dlya_online_obuchenia.svg')")
    .container
      .row
        .col-md-7
          h1 Глобальный поиск экспертов
          p В сообществе Smart Expert вас ждут лучшие эксперты, навыки которых подтверждаются специальным рейтингом! Это поможет вам выбрать лучших из лучших для решения своих задач!  
          a.btn.btn-primary( href='#' ) Начать использовать
        .col-md-5.position-relative
          img( src="asset/image/banners/global-search.svg" )  

  sections.sec.sec_with_sliders
    .container
      .screen_list
          +block_slider(
            'Находите лучших в рейтинге экспертов', 
            'Рейтинг эксперта в сообществе Smart Expert - это возможность выбирать лучших специалистов. Вам необходима консультация по увеличению продаж или продвижению личного бренда? Вы можете легко найти и выбрать лучшего из эксперта и получить квалифицированную помощь!',
            'search-expert.jpg',
            'search-expert.jpg'
          )  
          +block_slider(
            'Вас смогут найти как Эксперта', 
            'Рейтинг эксперта в сообществе Smart Expert - это возможность выбирать лучших специалистов. Вам необходима консультация по увеличению продаж или продвижению личного бренда? Вы можете легко найти и выбрать лучшего из эксперта и получить квалифицированную помощь!',
            'choose_mentor-1.jpg',
            'choose_mentor-1.jpg'
          )    
          

          
