extends _component/layout/main_layout.pug

block content
  section.sec.sec_banner(style="background-image: url('asset/image/sec-platforma-dlya-online-obuchenia/bg__platforma_dlya_online_obuchenia.svg')")
    .container
      .row
        .col-md-7
          h1 Инструменты маркетинга
          p Применяйте инструменты эффективного привлечения клиентов на образовательные продукты. Продвигайте свою эксперность на аудиторию в 2 млн человек, используйте автоматизированные воронки продаж и выстраивайте эффективное взаимодействие с потенциальными клиентами 
          a.btn.btn-primary( href='#' ) Начать использовать
        .col-md-5.position-relative
          img( src="asset/image/banners/marketing-instrument.svg" )  

  sections.sec.sec_with_sliders
    .container
      .screen_list
          +block_slider(
            'Контент-маркетинг на аудиторию в 2 млн человек', 
            'Пишите уникальные статьи, размещайте их на блоге 5 SFER, продвигайте свою экспертность и свои продукты на аудиторию более 2 млн. человек. К тому же - ваши статьи это отличный инструмент привлечения лидов в свою воронку продаж. Используйте этот инструмент на максимуме!',
            'kontent_marketing-1.jpg',
            'kontent_marketing-1.jpg'
          )  
          +block_slider(
            'Автоматизируйте продажи: воронки для привлечения и монетизации аудитории', 
            'В Smart Expert вас ждет уникальный инструмент автоматизации маркетинга и взаимодействия с аудиторией. Настройте максимально эффективное взаимодействие с потенциальным клиентом, расскажите о своих продуктах, делитесь ценностью - и все это приведет его к покупке ваших обучающих материалов, консультаций или других услуг.',
            'promote_your_courses-1.jpg',
            'promote_your_courses-1.jpg'
          )  
          +block_slider(
            'CRM - удобное управление потенциальными клиентам', 
            'Удобный пульт управления потенциальными клиентам позволит вам в любой момент узнать всю необходимую информацию: сколько у вас клиентов, откуда они пришли, на каком тарифе они у вас обучаются, как вы с ними взаимодействовали, когда в последний раз они заходили на платформу? Все это позволяет вам максимально эффективно выстривать связь со своей аудиторией!',
            'automate_process-1.jpg',
            'automate_process-1.jpg'
          )   
          

          
