extends _component/layout/main_layout.pug

block content
  section.sec.sec_banner(style="background-image: url('asset/image/sec-platforma-dlya-online-obuchenia/bg__platforma_dlya_online_obuchenia.svg')")
    .container
      .row
        .col-md-7
          h1 Деловая социальная сеть
          p Создавайте личный профиль в закрытой социальной сети, где вас ждет: нетворкинг, решение ваших бизнес задач, удобный мессенджер для общения. Все это - возможности для вашего роста, продвижения личного бренда, формирования сильного окружения!   
          a.btn.btn-primary( href='#' ) Начать использовать
        .col-md-5.position-relative
          img( src="asset/image/banners/soc-network.svg" )  

  sections.sec.sec_with_sliders
    .container
      .screen_list
          +block_slider(
            'Создай и наполни свой профиль', 
            'Расскажите о себе всему сообществу Smart Expert - кто вы, чем занимаетесь? Это поможет вам получить нужное окружение, новых друзей и новые возможности! ',
            'create_your_prifile-1.jpg',
            'create_your_prifile-1.jpg'
          )  W
          +block_slider(
            'Удобный мессенджер для общения', 
            'Мы создали удобный мессенджер, который позволит вам легко общаться со своими друзьями, наставниками и экспертами в рамках сообщества Smart Expert.',
            'convenient_messenger-1.jpg',
            'convenient_messenger-1.jpg'
          )    
          +block_slider(
            'Нетворкинг - настрой деловые связи', 
            'Необходимо обзавестись деловыми контактами? Мы создали специальный инструмент для нетворкинга. Знакомьтесь с успешными  предпринимателями и экспертами, решайте свои деловые задачи и шагните на встречу своему успеху!',
            'choose_mentor-1.jpg',
            'choose_mentor-1.jpg'
          )  
          +block_slider(
            'Лента постов - всегда будь в курсе событий', 
            'Лента постов поможет вам не пропускать важную информацию от своих друзей, экспертов и наставников. Здесь вы найдете увлекательные посты на интересующие  темы, инсайты успешных людей, инструменты и практики к действию. Все, что нужно для вашего развития!',
            'posts_feed-1.jpg',
            'posts_feed-1.jpg'
          )    
          

          
