section.sec.sec_try_smart_expert
  .container
    .row.align-items-center
      .col-md-4
        img(src='asset/image/sec11/books.svg' alt='books')
      .col-md-8
        h2
          | Попробуйте Smart Expert в течение 
          br
          |  14 дней абсолютно бесплатно
        p
          | И Вы ощутите чувство удовлетворения 
          br
          |  от сервиса, который искали.
        a.btn.btn-success(href="") Использовать Бесплатно
